.player-section {
    position: relative;
    background: #F8FAF9;

    &__container {
        position: relative;
        display: flex;  
        margin: 0 auto;
        width: rem(660px);
        height: rem(405px); 
        //padding: 0 rem(150px);  
        
        &::before {
            content: url("img/decor/left-leaf.png");
            position: absolute;
            bottom: rem(-70px);
            left: rem(-110px);
    
            @include tablets {
                content: url("img/tablets/left-leaf.png");
                position: absolute;
                bottom: rem(80px);
                left: rem(-101px);
            }

            @include phones {
                content: url("img/tablets/left-leaf.png");
                position: absolute;
                bottom: rem(-70px);
                left: rem(-63px);
            }
        }
    
        &::after {
            content: url("img/decor/right-leaf.png");
            position: absolute;
            top: rem(-70px);
            right: rem(-120px);
    
            @include tablets {
                content: url("img/tablets/right-leaf.png");
                position: absolute;
                top: rem(-50px);
                right: rem(-55px);
            }

            @include phones {
                content: url("img/tablets/right-leaf.png");
                position: absolute;
                top: rem(-50px);
                right: rem(-50px);
            }
        }

        @include tablets {
            width: rem(594px);
            height: rem(351px);
        }
       
        @include phones {
            width: rem(394px);
            height: rem(233px);
        }
    }
}

.player-title {
    margin-bottom: rem(31px);

    @include tablets {
        margin-bottom: rem(40px);
    }
}


