$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$blue: #61C4D9;
$darkGreen: #365A49;

//z-index
$z-fixed-menu: 1000;
$z-reviews-section: 50;
$z-hamburger: 15;
$z-overlay: 1;

//media
@import "_media";

//normalize
//@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import "_layout";
//@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


//components
@import "components/*.scss";



